header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    max-width: 50px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
}

.menu-icon img {
    max-width: 30px; /* Ajustez la taille de l'icône du menu selon vos besoins */
    height: auto;
}
.menu-icon {
    text-decoration: none; /* Supprimer la soulignement par défaut du lien */
}


/*
.header--bg {
    background-color: #ffffff;
}
.header__logo-link,
.header__menu-btn {
    position: absolute;
}

.header__logo-link {
    top: var(--space2x);
    left: var(--space2x);
}

.header__menu-btn {
    top: var(--space2x);
    right: var(--space2x);
  }