body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img,
.menu-icon img {
    max-width: 50px; /* Ajustez la taille de l'icône selon vos besoins */
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

