/* Ajoutez ce style dans votre fichier CSS */
.btn-billeterie {
    display: inline-block;
    margin-top: 10px; /* Vous pouvez ajuster la marge selon vos besoins */
}

.icon {
    max-width: 30px; /* Ajustez la taille de l'icône selon vos besoins */
    height: auto;
}
