body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section {
    text-align: center; /* Centrer le contenu de la section */
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    justify-content: space-around; /* Aligner les éléments horizontalement avec un espacement équitable */
}

li img {
    max-width: 100%; /* Ajuster la largeur de l'image à la taille du conteneur */
    height: auto;
    margin: 10px; /* Espacement entre les images */
}

